@font-face {
    font-family: 'Rubik-Regular';
    src: url('./path/to/fonts/Rubik-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Rubik-Bold';
    src: url('./path/to/fonts/Rubik-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Rubik-ExtraBold';
    src: url('./path/to/fonts/Rubik-ExtraBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Rubik-Medium';
    src: url('./path/to/fonts/Rubik-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Rubik-SemiBold';
    src: url('./path/to/fonts/Rubik-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Rubik-Light';
    src: url('./path/to/fonts/Rubik-Light.ttf') format('truetype');
  }
  
  :root {
    --color-primary-100: #f4a803;
    --color-primary-200: #f4b326;
    --color-primary-300: #f4bc43;
    --color-accent-100: #FBFBFD;
    --color-black-default: #000000;
    --color-black-100: #8C8E98;
    --color-black-200: #666876;
    --color-black-300: #191D31;
    --color-danger: #F75555;
  }
  

  body {
    font-family: 'Rubik-Regular', sans-serif;
  }
  
  .primary-100 {
    color: var(--color-primary-100);
  }
  .primary-200 {
    color: var(--color-primary-200);
  }
  .primary-300 {
    color: var(--color-primary-300);
  }
  .accent-100 {
    color: var(--color-accent-100);
  }
  .black-default {
    color: var(--color-black-default);
  }
  .black-100 {
    color: var(--color-black-100);
  }
  .black-200 {
    color: var(--color-black-200);
  }
  .black-300 {
    color: var(--color-black-300);
  }
  .danger {
    color: var(--color-danger);
  }
  

  .container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
  }
  
  .welcomeText {
    font-size: 30px;
    font-family: 'Rubik-Bold';
    margin-top: 40px;
    margin-bottom: 40px;
  }